<div class="container-fluid">
    <br> <br> <br>
    <div class="row">
        <aside class="col-sm-4"></aside>
        <aside class="col-sm-4 text-center">    
        {{#if error_msg}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error_msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
         </aside>
    <aside class="col-sm-4"></aside>
</div>
    
    <div class="row">
        <aside class="col-sm-3"></aside>

        <aside class="col-sm-6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-3 tab-card">
                            
                            
                            <div class="row" style="background-color: #fff; align-content: center; padding: 20px">
                                <div>
                                    <img src="./images/buses.jpeg" alt="" width="100%" srcset="" style="border-radius: 10px;">
                                </div>
                                <br/>
                                <br/>
                                Location: {{route.departure}}
                                <br/>
                                <br/>
                                Destination: {{route.destination}}
                                <br/>
                                <br/>
                                Time of Departure: {{route.depart}}
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-primary btn-lg form-control" data-toggle="modal"
                                        data-target="#exampleModal" data-whatever="@mdo"
                                        style="text-decoration: none; cursor: pointer; opacity: .75;">Book A Seat
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="col-sm-3"></aside>
    </div>

<script src="./js/index.js"></script>
<!-- ======================================= -->
<!-- Search For available Buses page ENDS HERE-->




<!-- Modal Section  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Seats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/reservation" method="post">
                    <div class="row">
                        {{#each availableBus}}
                            {{#each availableSeats}}
                                <div class="col-2" style="padding-bottom: 20px;">
                                    {{#if isAvailable}}
                                        {{seatNo}}
                                        <input type="checkbox" name="{{plateNo}},{{busFare}}" value={{seatNo}} >
                                    {{/if}}
                                </div>
                            {{/each}}
                        {{/each}}
                    </div>
                    <button type="submit" class=" btn btn-primary btn-lg form-control" data-switch="#payment"
                            style="text-decoration: none; cursor: pointer; opacity: .75;">Select
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>