<div class="row">
    <div class="col-10"></div>
    <div class="col">
        <form action="/logout" method="get">            
            <button class="btn btn-primary" style="align-item: center;">Logout</button>
        </form>
    </div>
</div>
<!-- Receipt  Page-->
<div id="searchLoc1">
    <div class="row" style="padding-top: 100px;">
        <div class="col-3"></div>
        {{# with trip}}
        <div class="col-6" style="background-color: whitesmoke; padding: 20px; border-radius: 20px;">
            <div class="text-center">
                    <h1>Booking Receipt</h1><hr>
                </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>BRT Reservation Ticket</strong>
                        <br>
                       
                        Lagos State, Nigeria
                        <br>
                        <abbr title="Phone"></abbr> (+234) 816-8898-016
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: {{createdOn}}</em>
                    </p>
                    <p>
                        <em>Receipt #: {{reservationRef}}</em>
                    </p>
                </div>
            </div>
            <div class="row">
                
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Route</th>
                        <th>Seat#</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-9"><em>{{busDetails.departure}} to {{busDetails.destination}}</em>
                        </td>
                        <td class="col-md-1" style="text-align: center"> {{busDetails.seatNo}}</td>
                        <td class="col-md-1 text-center">&#8358;{{busDetails.busFare}}</td>
                        <td class="col-md-1 text-center">&#8358;{{busDetails.busFare}}</td>
                    </tr>

                    <tr>
                        <td>  </td>
                        <td>  </td>

                    </tr>
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td class="text-right">
                            <h4><strong>Total: </strong></h4>
                        </td>
                        <td class="text-center text-danger">
                            <h4><strong>&#8358;{{busDetails.busFare}}</strong></h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="window.print()" class="btn btn-primary">
                    Print   <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                </td>
            </div>
        </div>
        {{/with}}
        <div class="col-3"></div>

    </div>
</div>
<!-- ======================================= -->
<!-- Receipt page ENDS HERE-->